$highlight: #00FFC2;
$color: rgb(255, 255, 255);
$colorDark: rgb(63, 43, 0);
$colorDark2: rgba(114, 83, 83, 0.899);
$overlay: #ffd498;
$overlay2: #a8ddff;
// $gradientColor1: #415A5A;
// $gradientColor2: #384141;
$gradientColor1: #ff9808;
$gradientColor2: #ff9808;
